sudo: required
services:
- docker
before_install:
- openssl aes-256-cbc -K $encrypted_0c35eebf403c_key -iv $encrypted_0c35eebf403c_iv
  -in service-account.json.enc -out service-account.json -d
- curl https://sdk.cloud.google.com | bash > /dev/null;
- source $HOME/google-cloud-sdk/path.bash.inc
- gcloud components update kubectl
- gcloud auth activate-service-account --key-file service-account.json
- gcloud confit set project multi-k8s-264114
- gcloud config set compute/zone us-east1-d
- gcloud container clusters get-credentials multi-cluster
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
- docker build -t hasratsabit/react-test -f ./client/Dockerfile.dev ./client

script:
- docker run -e CI=true hasratsabit/react-test npm run test -- --coverage --watchAll=false
